header.header
  nav.nav.nav--tours
    a.nav__el(href='/') All apartment
  .header__logo
    img(src='/img/logo-white.png' alt='Natours logo')
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
          img.nav__user-img(src=`/img/users/${user.photo}`)
          if user.name
            const userName = user.name.split(' ');
            span= `${userName[userName.length - 2]} ${userName[userName.length - 1]}`
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='/signup') Sign up
